<h3>SOCKET.IO Client POC </h3>
<table >
  <tr>
    <td>
      username :
    </td>
    <td>
      <input type="text" [(ngModel)]="username">
    </td>

    <td>
      <button (click)="onConnect()" disabled>Connect</button>
    </td>
    <td>
      <button (click)="onDisconnect()" disabled>Disconnect</button>
    </td>
  </tr>
  <tr>
    <td>

    </td>
    <td></td>
    <td>
      <button (click)="onConnectAlert()">Connect Alerts</button>
    </td>
    <td>
      <button (click)="onDisconnectAlert()">Disconnect Alerts</button>
    </td>
  </tr>
</table>
<div [innerHtml]="consoleData"></div>
